<!-- Main Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 mx-auto" id="firstCol">
      	<div>
	      	<h1 class="margin_bot">Contáctanos</h1>
	        <p>Quieres contactarte con nosotros? Llena el formulario y te responderemos lo más rápido posible</p>
	    </div>
      </div>
      <div class="col-lg-6 col-md-12 mx-auto" id="secondCol">
        <form name="sentMessage" [formGroup] = "contactForm" id="contactForm" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Nombre</label>
              <input class="floating-label-form-group-input" type="text" id="name" required data-validation-required-message="Por favor ingresa tu nombre." formControlName="first_name">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Apellido</label>
              <input class="floating-label-form-group-input" type="text" id="lastName" required data-validation-required-message="Por favor ingresa tu apellido." formControlName="last_name">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Email</label>
              <input class="floating-label-form-group-input" type="email" id="email" required data-validation-required-message="Please enter your email address." formControlName="email">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="date">Fecha de nacimiento:</label>
              <input class="floating-label-form-group-input" type="date" id="date" name="date" min="1920-01-01" max="2020-01-01" required>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label for="lugar">País de nacimiento:</label>
              <select name="lugar" id="lugar" required formControlName="pais" >
                <option label="Seleccione su país de nacimiento"></option>
              </select>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Mensaje:</label>
              <textarea rows="5" id="message" required data-validation-required-message="Please enter a message." formControlName="mensaje"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="text-center">
          	<button class="btn-primary" (click)="submit()">Enviar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row inner_pad">
      <div class="col-sm-12 mx-auto text-center map-responsive">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1yErDFAJoV0o-j5xNbJOhK_O-UlZFt-O6" width="640" height="480" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <hr>



 