<!-- Main Content -->
  <!--image-->
  <br>
  <div class="main-container">
    <div class="recipe-description-container" data-intro="Detalle de la noticia" data-position="right">
      <div class="pasos-a-seguir-title">
        <h2 id="ArtTitle" >{{noticia['title']}}</h2>
        <p id="ArtSubtitle" class="steps-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae felis nisl. Nam eu dignissim eros. Phasellus congue dolor nisl, in ultrices est vehicula a.</p>
      </div>
      <div class="image-container">
        <img src = "../../assets/img/chef_news.webp" alt="noticia_chef">
      </div>
    </div>
  </div>
  <br>

  <div class="recipe-steps">
    <div class="steps-container-center">
      <div id="articleBody" class="pasos-a-seguir col-lg-11 col-sm-10">
        <p>{{noticia['content']}}</p>
        <p>{{noticia['author']['id']}}, 12/4/2020</p>
      </div>
    </div>
  </div>
  <!--recipe section-->


