<!-- Main Content -->
  <!--image-->
  <br>
  <div class="main-container">
    <div class="recipe-description-container" data-intro="Detalle de la noticia" data-position="right">
      <div class="pasos-a-seguir-title">
        <h2 id="ArtTitle" >{{noticia.title}}</h2>
      </div>
      <div class="image-container">
        <img src = "https://saborescompartidos.herokuapp.com{{noticia['image']}}" alt="noticia_chef">
      </div>
    </div>
  </div>
  <br>

  <div class="recipe-steps">
    <div class="steps-container-center">
      <div id="articleBody" class="pasos-a-seguir col-lg-11 col-sm-10">
        <p>{{noticia['content']}}</p>
        <p>{{noticia['author']['first_name']}} {{noticia['author']['last_name']}}, {{(''+noticia['creation_date']).substring(0,10)}}</p>
      </div>
    </div>
  </div>
  <!--recipe section-->


