<!-- Main Content -->
  <!--image-->
  <br>
  <div class="main-container">
    <div class="recipe-description-container" data-intro="Detalle de la noticia" data-position="right">
      <div class="pasos-a-seguir-title">
        <h2 id="ArtTitle" >Nuevas reseñas con chefs</h2>
        <p id="ArtSubtitle" class="steps-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae felis nisl. Nam eu dignissim eros. Phasellus congue dolor nisl, in ultrices est vehicula a.</p>
      </div>
      <div class="image-container">
        <img src = "../../assets/img/chef_news.webp" alt="noticia_chef">
      </div>
    </div>
  </div>
  <br>

  <div class="recipe-steps">
    <div class="steps-container-center">
      <div id="articleBody" class="pasos-a-seguir col-lg-11 col-sm-10">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lorem libero, aliquam quis auctor scelerisque, sollicitudin mattis leo. Sed aliquet mauris a lorem suscipit, sed vulputate ante blandit. Phasellus eget diam nulla. Aliquam dictum iaculis purus sit amet egestas. Donec pulvinar massa imperdiet nisl ornare, et bibendum eros maximus. Sed nec enim luctus, consectetur metus ac, egestas ligula. Cras bibendum neque sit amet posuere efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque fermentum quis tellus ac ultricies. Pellentesque accumsan dictum felis vitae placerat. Donec convallis enim tellus. Donec tempus tellus nec arcu lacinia, ac auctor mauris euismod. Suspendisse potenti. </p>
        <p>Proin vitae felis nisl. In hac habitasse platea dictumst. Duis metus eros, dignissim eget urna id, hendrerit convallis nibh. Mauris accumsan tellus eros, ut molestie augue porttitor in. Etiam et aliquet ex. Nullam consequat ultrices ultrices. Aliquam erat volutpat. Sed aliquet accumsan augue id consectetur. Nam maximus nunc ut sapien molestie iaculis. Fusce condimentum, leo et maximus congue, purus ipsum gravida lectus, ut vehicula neque diam in nisl. Suspendisse tempus vulputate nunc, nec euismod velit porttitor tincidunt. Mauris vitae dui sem. Mauris lacinia volutpat tortor non consectetur. Cras a lectus sed urna sagittis tristique. Donec id lacinia mi. Etiam vitae iaculis nisi. </p>
        <p>Nam eu dignissim eros. Phasellus congue dolor nisl, in ultrices est vehicula a. Sed porta neque tortor, at cursus ex lobortis id. Nulla convallis rutrum lobortis. Quisque hendrerit commodo sapien, ut interdum leo tempus id. Phasellus posuere ante arcu. Fusce id metus est. Etiam erat neque, tincidunt et nulla in, consequat pharetra felis. Etiam eget purus porta, tincidunt nunc ut, malesuada erat. </p>
        <p>Clark Kent, 12/4/2020</p>
      </div>
    </div>
  </div>
  <!--recipe section-->


