<div class="container">
    <div id="myInput" data-intro="Aquí podrás filtrar recetas por nombre y autor. Escribe Chana" (keyup)="search($event.target)">
        <input type="text" id="search-recipes" placeholder="Buscar recetas" title="Ingrese texto">
    </div>
    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Recetas</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Tipo de plato</a>
          <a href="#" class="list-group-item">Tipo de comida</a>
          <a href="#" class="list-group-item">Dietético y Saludable</a>
          <a href="#" class="list-group-item">Platos internacionales</a>
          <a href="#" class="list-group-item">Por temporada</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <div id="cardGroup" class="row">

          <div class="card col-lg-4 col-md-6 mb-4" [attr.data-step]="first?'2':null" [attr.data-intro]="first?'Al dar click en la miniatura podrás ver una descripción más detallada de la receta':null" #card *ngFor="let receta of recetas; let first = first">
            <div class="h-100">
              <a [routerLink]="" (click)="recetaDetails(receta.id)" routerLinkActive="active"><img class="card-img-top" src="{{receta.image}}" alt="{{receta.name}}"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a [routerLink]="" (click)="recetaDetails(receta.id)" routerLinkActive="active" class = "recipeName">{{receta.name}}</a>
                </h4>
                <p class="card-text">by {{receta.author.first_name}} {{receta.author.last_name}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>



