<div class="container">
    <div id="myInput" data-intro="Aquí podrás filtrar recetas por nombre y autor. Escribe Chana">
        <input type="text" id="search-recipes" placeholder="Buscar recetas" title="Ingrese texto">
    </div>
    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Recetas</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Tipo de plato</a>
          <a href="#" class="list-group-item">Tipo de comida</a>
          <a href="#" class="list-group-item">Dietético y Saludable</a>
          <a href="#" class="list-group-item">Platos internacionales</a>
          <a href="#" class="list-group-item">Por temporada</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <div class="row">

          <div class="card col-lg-4 col-md-6 mb-4" data-step="2" data-intro="Al dar click en la miniatura podrás ver una descripción más detallada de la receta">
            <div class="h-100">
              <a routerLink="/receta" routerLinkActive="active"><img class="card-img-top" src="../../assets/img/recipeimg/Chana_Masala.jpg" alt="Chana Masala"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink="/receta" routerLinkActive="active" class = "recipeName">Chana Masala</a>
                </h4>
                <p class="card-text">by John Brown</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="card col-lg-4 col-md-6 mb-4">
            <div class=" h-100">
              <a routerLink="/receta" routerLinkActive="active"><img class="card-img-top" src="../../assets/img/recipeimg/black_bean_burritos.jpg" id = recipeImg alt="Burritos con fréjoles negros"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink="/receta" routerLinkActive="active" class = "recipeName">Black Bean Burrito</a>
                </h4>
                <p class="card-text">by John Brown</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="card col-lg-4 col-md-6 mb-4">
            <div class=" h-100">
              <a routerLink="/receta" routerLinkActive="active"><img class="card-img-top" src="../../assets/img/recipeimg/fanesca.jpg" alt="fanesca"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink="/receta" routerLinkActive="active" class = "recipeName">Fanesca</a>
                </h4>
                <p class="card-text">by John Brown</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="card col-lg-4 col-md-6 mb-4">
            <div class=" h-100">
              <a routerLink="/receta" routerLinkActive="active"><img class="card-img-top" src="../../assets/img/recipeimg/tigrillo.jpg" alt="tigrillo"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink="/receta" routerLinkActive="active" class = "recipeName">Tigrillo</a>
                </h4>
                <p class="card-text">by John Brown</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="card col-lg-4 col-md-6 mb-4">
            <div class=" h-100">
              <a routerLink="/receta" routerLinkActive="active"><img class="card-img-top" src="../../assets/img/recipeimg/Fritada.jpg" alt="fritada"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink="/receta" routerLinkActive="active" class = "recipeName">Fritada</a>
                </h4>
                <p class="card-text">by John Brown</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="card col-lg-4 col-md-6 mb-4">
            <div class=" h-100">
              <a routerLink="/receta" routerLinkActive="active"><img class="card-img-top" src="../../assets/img/recipeimg/easy_jambalaya.jpg" alt="jambalaya"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink="/receta" routerLinkActive="active" class = "recipeName">Easy Jambalaya</a>
                </h4>
                <p class="card-text">by John Brown</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>




<script src="busqueda.js"></script>