<!-- Main Content -->
  <!--image-->
  <br>
  <div class = "frontImage">
    <img src = "../../assets/img/homepage-img.jpg" alt="banner principal">
    <div class ="imageText"><h1>Descubre miles de recetas</h1>
      <br>
      <h4>Disfruta de un repositorio de recetas certificadas por profesionales</h4>
    </div>

  </div>
  <br>
  <!--recipe section-->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Recetas</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Tipo de plato</a>
          <a href="#" class="list-group-item">Tipo de comida</a>
          <a href="#" class="list-group-item">Dietético y Saludable</a>
          <a href="#" class="list-group-item">Platos internacionales</a>
          <a href="#" class="list-group-item">Por temporada</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->
      <!-- data-step='6' data-intro="En esta sección puedes ver un listado de las recetas disponibles" data-position="left" -->
      <div class="col-lg-9" >
        <div class="row">

          <div class="card col-lg-4 col-md-6 mb-4" data-step="2" data-intro="Al dar click en la miniatura podrás ver una descripción más detallada de la receta">
            <div class="h-100">
              <a routerLink="/receta" routerLinkActive="active"><img class="card-img-top" src="../../assets/img/recipeimg/Chana_Masala.jpg" alt="Chana Masala"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink="/receta" routerLinkActive="active" class = "recipeName">Chana Masala</a>
                </h4>
                <p class="card-text">by John Brown</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="card col-lg-4 col-md-6 mb-4">
            <div class=" h-100">
              <a routerLink="/receta" routerLinkActive="active"><img class="card-img-top" src="../../assets/img/recipeimg/black_bean_burritos.jpg" id = recipeImg alt="Burritos con fréjoles negros"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink="/receta" routerLinkActive="active" class = "recipeName">Black Bean Burrito</a>
                </h4>
                <p class="card-text">by John Brown</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="card col-lg-4 col-md-6 mb-4">
            <div class=" h-100">
              <a routerLink="/receta" routerLinkActive="active"><img class="card-img-top" src="../../assets/img/recipeimg/fanesca.jpg" alt="fanesca"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink="/receta" routerLinkActive="active" class = "recipeName">Fanesca</a>
                </h4>
                <p class="card-text">by John Brown</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="card col-lg-4 col-md-6 mb-4">
            <div class=" h-100">
              <a routerLink="/receta" routerLinkActive="active"><img class="card-img-top" src="../../assets/img/recipeimg/tigrillo.jpg" alt="tigrillo"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink="/receta" routerLinkActive="active" class = "recipeName">Tigrillo</a>
                </h4>
                <p class="card-text">by John Brown</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="card col-lg-4 col-md-6 mb-4">
            <div class=" h-100">
              <a routerLink="/receta" routerLinkActive="active"><img class="card-img-top" src="../../assets/img/recipeimg/Fritada.jpg" alt="fritada"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink="/receta" routerLinkActive="active" class = "recipeName">Fritada</a>
                </h4>
                <p class="card-text">by John Brown</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="card col-lg-4 col-md-6 mb-4">
            <div class=" h-100">
              <a routerLink="/receta" routerLinkActive="active"><img class="card-img-top" src="../../assets/img/recipeimg/easy_jambalaya.jpg" alt="jambalaya"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink="/receta" routerLinkActive="active" class = "recipeName">Easy Jambalaya</a>
                </h4>
                <p class="card-text">by John Brown</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
<br>  
<!-- video section-->
<h1 class = "videoText">Videos</h1>
<div class="imagegrid-container">
    <div class = "recipeVideo">
      <div class = "recipeVideoText">
        <h3>Titulo del video</h3>
        <h6>de Autor</h6>
      </div>
      <img src="../../assets/img/recipeimg/taco_pizza_squares.jpg" alt="taco pizza"/>
    </div>
    <div class = "recipeVideo">
      <div class = "recipeVideoText">
        <h3>Titulo del video</h3>
        <h6>de Autor</h6>
      </div>
      <img src="../../assets/img/recipeimg/Peanut_butter_coconout_cookies.jpg" alt="galletas de coco y mantequilla de maní"/>
    </div>
    <div class = "recipeVideo">
      <div class = "recipeVideoText">
        <h3>Titulo del video</h3>
        <h6>de Autor</h6>
      </div>
      <img src="../../assets/img/recipeimg/shrimp_pad_thai.jpg" alt="pad thai de camarón"/>
    </div>
    <div class = "recipeVideo">
      <div class = "recipeVideoText">
        <h3>Titulo del video</h3>
        <h6>de Autor</h6>
      </div>
      <img src="../../assets/img/recipeimg/Ham_&_Spinach_Casserole.jpg" alt="caserola de jamón y espinaca"/>
    </div>
</div>
<br>
<!--email form-->
  <hr>
      <div class="col-lg-10 col-md-10 mx-auto" id="bottomContainer">
        <h3 style = "color:white; text-align: center">Recibe los últimos descuentos, noticias y notificaciones de las recetas más populares</h3 >
        <br>
        <div class = "container">
          <div class = "row">
            <form name="sentMessage" id="contactForm" novalidate>
              <div class="control-group col-md-12">
                <div class="form-group floating-label-form-group controls">
                  <input type="email" id="email" placeholder= "Email" required data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            </form>
        
            <div id="success"></div>
            <div class="text-center">
              <button type="submit" class="btn-primary" id="subButton">Subscribete</button>
            </div>
          </div>
        </div>
      </div>



  <!-- Footer -->
<footer>
    <div class="actual-footer">
      <div class="first-half col-lg-3 col-md-3">
        <div class="nav-options col-md-12">
          <span><a routerLink="/index" routerLinkActive="active">Sabores Compartidos</a></span>
          <span><a routerLink="/noticias" routerLinkActive="active">Noticias</a></span>
          <span><a routerLink="/recetas" routerLinkActive="active">Recetas</a></span>
          <span><a routerLink="/contact" routerLinkActive="active">Contáctanos</a></span>
          <span><a routerLink="/registro" routerLinkActive="active">Quiénes somos</a></span>
        </div>
        <!-- <div class="other-options col-md-4">
          <span>Blog</span>
          <span>Search</span>
          <span>T & Cs</span>
          <span>Privacy</span>
          <span>Community</span>
        </div> -->
      </div>
      <div class="second-half col-lg-6 col-md-6">
        <div class="get-our-newsletter">
          <span>Suscribete</span>
        </div>

        <div class="email-form">
          <input type="text" placeholder="Ingresa tu email">
          <button id='subscribe-btn'>Suscribirme</button>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item twitter">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x footer-icon"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item facebook">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x footer-icon"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item instagram">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x footer-icon"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted" id="copyright">Copyright &copy; Sabores Compartidos 2020</p>
      </div>
    </div>
</footer>