<!-- Main Content -->
  <!--image-->
  <br>
  <div class = "frontImage">
    <img src = "../../assets/img/homepage-img.jpg" alt="banner principal">
    <div class ="imageText"><h1>Descubre miles de recetas</h1>
      <br>
      <h4>Disfruta de un repositorio de recetas certificadas por profesionales</h4>
    </div>

  </div>
  <br>
  <!--recipe section-->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Recetas</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Tipo de plato</a>
          <a href="#" class="list-group-item">Tipo de comida</a>
          <a href="#" class="list-group-item">Dietético y Saludable</a>
          <a href="#" class="list-group-item">Platos internacionales</a>
          <a href="#" class="list-group-item">Por temporada</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->
      <!-- data-step='6' data-intro="En esta sección puedes ver un listado de las recetas disponibles" data-position="left" -->
      <div class="col-lg-9" >
        <div class="row">

          <div class="card col-lg-4 col-md-6 mb-4" [attr.data-step]="first?'2':null" [attr.data-intro]="first?'Al dar click en la miniatura podrás ver una descripción más detallada de la receta':null" #card *ngFor="let receta of recetas; let first = first">
            <div class="h-100">
              <a [routerLink]="" (click)="recetaDetails(receta.id)" routerLinkActive="active"><img class="card-img-top" src="{{receta.image}}" alt="{{receta.name}}"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a [routerLink]="" (click)="recetaDetails(receta.id)" routerLinkActive="active" class = "recipeName">{{receta.name}}</a>
                </h4>
                <p class="card-text">by {{receta.author.first_name}} {{receta.author.last_name}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
<br>  
<!-- video section-->
<h1 class = "videoText">Videos</h1>
<div class="imagegrid-container">
    <div class = "recipeVideo">
      <div class = "recipeVideoText">
        <h3>Titulo del video</h3>
        <h6>de Autor</h6>
      </div>
      <img src="../../assets/img/recipeimg/taco_pizza_squares.jpg" alt="taco pizza"/>
    </div>
    <div class = "recipeVideo">
      <div class = "recipeVideoText">
        <h3>Titulo del video</h3>
        <h6>de Autor</h6>
      </div>
      <img src="../../assets/img/recipeimg/Peanut_butter_coconout_cookies.jpg" alt="galletas de coco y mantequilla de maní"/>
    </div>
    <div class = "recipeVideo">
      <div class = "recipeVideoText">
        <h3>Titulo del video</h3>
        <h6>de Autor</h6>
      </div>
      <img src="../../assets/img/recipeimg/shrimp_pad_thai.jpg" alt="pad thai de camarón"/>
    </div>
    <div class = "recipeVideo">
      <div class = "recipeVideoText">
        <h3>Titulo del video</h3>
        <h6>de Autor</h6>
      </div>
      <img src="../../assets/img/recipeimg/Ham_&_Spinach_Casserole.jpg" alt="caserola de jamón y espinaca"/>
    </div>
</div>
<br>
<!--email form-->
  <hr>
      <div class="col-lg-10 col-md-10 mx-auto" id="bottomContainer">
        <h3 style = "color:white; text-align: center">Recibe los últimos descuentos, noticias y notificaciones de las recetas más populares</h3 >
        <br>
        <div class = "container">
          <div class = "row">
            <form name="sentMessage" id="contactForm" novalidate>
              <div class="control-group col-md-12">
                <div class="form-group floating-label-form-group controls">
                  <input class="floating-label-form-group-input" type="email" id="email" placeholder= "Email" required data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="text-center">
                <input type="submit" class="btn-primary" value="Suscríbete">
              </div>
            </form>
        
            <div id="success"></div>
            
          </div>
        </div>
      </div>


