<!-- Main Content -->
<div class="row">
    <div class="col-lg-6 col-md-12 mx-auto inner_pad text-center reg-log-form">
      <div>
        <h1>Regístrate</h1>
      </div>
      <ul class="list-inline text-center">
        <li class="list-inline-item facebook">
          <a href="#" class="circle-icon facebook_icon">
            <img width="30" height="30" src="../../assets/img/facebook.png" alt="ícono de facebook">
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="circle-icon google_plus">
            <img width="30" height="20" src="../../assets/img/goog_plus.png" alt="ícono de google plus">
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="circle-icon linked_in">
            <img width="20" height="20" src="../../assets/img/linked_in.png" alt="ícono de linked in">
          </a>
        </li>
      </ul>
      <div>
        <p class="text-muted">O usa tu cuenta de E-mail:</p>
      </div>
      <form class="text-center" [formGroup] = "registerForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group floating-label-form-group controls inner_pad">
          <label class="text-muted">Nombre de usuario</label>
          <input class="dark-font floating-label-form-group-input" type="text" required formControlName="username">
        </div>
        <div class="form-group floating-label-form-group controls inner_pad">
          <label class="text-muted">Email</label>
          <input class="dark-font floating-label-form-group-input" type="email" required formControlName="email">
        </div>
        <div class="form-group floating-label-form-group controls inner_pad">
          <label class="text-muted">Contraseña</label>
          <input class="dark-font floating-label-form-group-input" type="password" required formControlName="password">
        </div>
        <div class="form-group floating-label-form-group controls inner_pad">
          <label class="text-muted">Confirmar Contraseña</label>
          <input class="dark-font floating-label-form-group-input" type="password" required formControlName="confirmPassword">
        </div>
        <span style="color: red;" *ngIf="submitted && !registerForm.controls.password.hasError('required')">{{error}}</span>
        <div class="form-group floating-label-form-group controls inner_pad">
          <input type="submit" class="red-button button" value="Registrarse">
        </div>
      </form>
    </div>
    <div class="col-lg-6 col-md-12 mx-auto inner_pad text-center">
      <div class="card background-in background">
        <div class="padding-large overlay">
          <div class="text-center light-font">
            <h2 class="light-font">¿Ya tienes una cuenta?</h2>
          </div>
          <div>
            <p class="light-font">Bienvenido, ingresa los detalles de tu cuenta y comienza a buscar recetas!</p>
          </div>
          <div>
            <a routerLink="/inicio_sesion" routerLinkActive="active" class="light-button button">Iniciar sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>