<!-- Main Content -->
<div class="row">
    <div class="col-lg-6 col-md-12 mx-auto inner_pad text-center reg-log-form">
      <div>
        <h1>Inicia Sesión</h1>
      </div>
      <ul class="list-inline text-center">
        <li class="list-inline-item facebook">
          <a href="#" class="circle-icon facebook_icon">
            <img width="30" height="30" src="../../assets/img/facebook.png" alt="ícono de facebook">
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="circle-icon google_plus">
            <img width="30" height="20" src="../../assets/img/goog_plus.png" alt="ícono de google plus">
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="circle-icon linked_in">
            <img width="20" height="20" src="../../assets/img/linked_in.png" alt="ícono de linked in">
          </a>
        </li>
      </ul>
      <div>
        <p class="text-muted">O usa tu nombre de Usuario:</p>
      </div>
      <form class="text-center" [formGroup] = "inicioSesionForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group floating-label-form-group controls inner_pad">
          <label class="text-muted">Nombre de Usuario</label>
          <input class="dark-font floating-label-form-group-input" type="text" required formControlName="username">
        </div>
        <div class="form-group floating-label-form-group controls inner_pad">
          <label class="text-muted">Contraseña</label>
          <input class="dark-font floating-label-form-group-input" type="password" required formControlName="password">
        </div>
        <div>
          <a class="text-muted" href="#">Olvidaste tu contraseña?</a>
        </div>
        <div class="form-group floating-label-form-group controls inner_pad">
          <input type="submit" class="red-button button" value="Iniciar Sesión">
        </div>
      </form>
    </div>
    <div class="col-lg-6 col-md-12 mx-auto inner_pad text-center">
      <div class="card background-reg background">
        <div class="padding-large overlay">
          <div class="text-center light-font">
            <h2 class="light-font">Regístrate</h2>
          </div>
          <div>
            <p class="light-font">Ingresa tus datos personales y únete a nuestra comunidad</p>
          </div>
          <div>
            <a routerLink="/registro" routerLinkActive="active" class="light-button button">Registro</a>
          </div>
        </div>
      </div>
    </div>
  </div>