 <!-- Footer -->
 <footer>
    <div class="actual-footer">
      <div class="first-half col-lg-3 col-md-3">
        <div class="nav-options col-md-12">
          <span><a routerLink="/index" routerLinkActive="active">Sabores Compartidos</a></span>
          <span><a routerLink="/noticias" routerLinkActive="active">Noticias</a></span>
          <span><a routerLink="/recetas" routerLinkActive="active">Recetas</a></span>
          <span><a routerLink="/contact" routerLinkActive="active">Contáctanos</a></span>
          <span><a routerLink="/registro" routerLinkActive="active">Quiénes somos</a></span>
        </div>
        <!-- <div class="other-options col-md-4">
          <span>Blog</span>
          <span>Search</span>
          <span>T & Cs</span>
          <span>Privacy</span>
          <span>Community</span>
        </div> -->
      </div>
      <div class="second-half col-lg-6 col-md-6">
        <div class="get-our-newsletter">
          <span>Suscribete</span>
        </div>
  
        <div class="email-form">
          <input type="text" placeholder="Ingresa tu email">
          <button id='subscribe-btn'>Suscribirme</button>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item twitter">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x footer-icon"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item facebook">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x footer-icon"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item instagram">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x footer-icon"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted" id="copyright">Copyright &copy; Sabores Compartidos 2020</p>
      </div>
    </div>
  </footer>
