<!-- Main Content -->
<main>
    <div class="container">
        
        <h1><br>Agregar Recetas</h1>
        <br>

            <div id="stepper1" class="bs-stepper">
              <div class="bs-stepper-header">
                <div class="step" data-target="#test-l-1">
                  <button type="button" class="btn step-trigger">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">Nombre de la Receta</span>
                  </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-2">
                  <button type="button" class="btn step-trigger">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">Contenido</span>
                  </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-3">
                  <button type="button" class="btn step-trigger">
                    <span class="bs-stepper-circle">3</span>
                    <span class="bs-stepper-label">Agregar foto</span>
                  </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-4">
                    <button type="button" class="btn step-trigger">
                      <span class="bs-stepper-circle">4</span>
                      <span class="bs-stepper-label">Confirmar</span>
                    </button>
                  </div>
              </div>
              <div class="bs-stepper-content">
                <div id="test-l-1" class="stepcontent">
                  <p class="text-center">Nombre de la Receta</p>
                  <input class="name" id="tituloInput" name="fname"><br><br>
                  <button class="btn btn-primary" onclick="stepper1.next(); f('tituloInput','tituloOutput') ">Siguiente</button>
                </div>
                <div id="test-l-2" class="stepcontent">
                  <p class="text-center">Ingrese detalles de su receta</p>
                  <textarea class= "textContent" id="contenidoInput" rows="4" cols="50"></textarea><br><br>
                  <button class="btn btn-primary" onclick="stepper1.next(); f('contenidoInput','contenidoOutput')">Siguiente</button>
                  <button class="btn btn-primary" onclick="stepper1.previous(); ">Anterior</button>
                </div>
                <div id="test-l-3" class="stepcontent">
                  <p class="text-center">test 3</p>
                    Seleccione imagen a cargar:
                    <br><br>
                    <input type='file' name="fileToUpload" id="fileToUpload" accept="image/gif, image/jpeg, image/png" onchange="readURL(this);" /><br><br>
                  
                  <button class="btn btn-primary" onclick="stepper1.next()">Siguiente</button>
                  <button class="btn btn-primary" onclick="stepper1.previous()">Anterior</button>
                </div>
                <div id="test-l-4" class="stepcontent">
                    <p class="text-center">Vista Previa</p>
                    <h1 id = "tituloOutput" style = "text-align: center;">Titulo</h1>
                    <div style = "text-align: center;">    <img id="noticiaimg" src="#" alt="Imagen a subir"></div>
                    <br><br>
                    <p id = "contenidoOutput"> </p>
                    <br><br>
                    <button class="btn btn-primary" onclick="alert('Se ha agregado la receta')">Confirmar</button>
                    <button class="btn btn-primary" onclick="stepper1.previous()">Anterior</button>
                  </div>
              </div>
            </div>
          </div>
</main>
<!-- Footer -->
<footer>
  <div class="actual-footer">
    <div class="first-half col-lg-3 col-md-3">
      <div class="nav-options col-md-12">
        <span><a routerLink="/index" routerLinkActive="active">Sabores Compartidos</a></span>
        <span><a routerLink="/noticias" routerLinkActive="active">Noticias</a></span>
        <span><a routerLink="/recetas" routerLinkActive="active">Recetas</a></span>
        <span><a routerLink="/contact" routerLinkActive="active">Contáctanos</a></span>
        <span><a routerLink="/registro" routerLinkActive="active">Quiénes somos</a></span>
      </div>
      <!-- <div class="other-options col-md-4">
        <span>Blog</span>
        <span>Search</span>
        <span>T & Cs</span>
        <span>Privacy</span>
        <span>Community</span>
      </div> -->
    </div>
    <div class="second-half col-lg-6 col-md-6">
      <div class="get-our-newsletter">
        <span>Suscribete</span>
      </div>

      <div class="email-form">
        <input type="text" placeholder="Ingresa tu email">
        <button id='subscribe-btn'>Suscribirme</button>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 mx-auto">
      <ul class="list-inline text-center">
        <li class="list-inline-item twitter">
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x footer-icon"></i>
              <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item facebook">
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x footer-icon"></i>
              <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item instagram">
          <a href="#">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x footer-icon"></i>
              <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
      <p class="copyright text-muted" id="copyright">Copyright &copy; Sabores Compartidos 2020</p>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../../assets/js/scripts.js"></script>
<script src="../../assets/js/bs-stepper.js"></script>
<script src="../../assets/js/nuevareceta.js"></script>