<!-- Main Content -->
<main>
    <div class="container">
        
        <h1><br>Agregar Recetas</h1>
        <br>

            <div id="stepper1" class="bs-stepper">
              <div class="bs-stepper-header">
                <div class="step" data-target="#test-l-1">
                  <button type="button" class="btn step-trigger">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">Nombre de la Receta</span>
                  </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-2">
                  <button type="button" class="btn step-trigger">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">Contenido</span>
                  </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-3">
                  <button type="button" class="btn step-trigger">
                    <span class="bs-stepper-circle">3</span>
                    <span class="bs-stepper-label">Agregar foto</span>
                  </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-4">
                    <button type="button" class="btn step-trigger">
                      <span class="bs-stepper-circle">4</span>
                      <span class="bs-stepper-label">Confirmar</span>
                    </button>
                  </div>
              </div>
              <div class="bs-stepper-content">
                <div id="test-l-1" class="stepcontent">
                  <p class="text-center">Nombre de la Receta</p>
                  <input class="name" id="tituloInput" name="fname"><br><br>
                  <button class="btn btn-primary" onclick="stepper1.next(); f('tituloInput','tituloOutput') ">Siguiente</button>
                </div>
                <div id="test-l-2" class="stepcontent">
                  <p class="text-center">Ingrese detalles de su receta</p>
                  <textarea class= "textContent" id="contenidoInput" rows="4" cols="50"></textarea><br><br>
                  <button class="btn btn-primary" onclick="stepper1.next(); f('contenidoInput','contenidoOutput')">Siguiente</button>
                  <button class="btn btn-primary" onclick="stepper1.previous(); ">Anterior</button>
                </div>
                <div id="test-l-3" class="stepcontent">
                  <p class="text-center">test 3</p>
                    Seleccione imagen a cargar:
                    <br><br>
                    <input type='file' name="fileToUpload" id="fileToUpload" accept="image/gif, image/jpeg, image/png" onchange="readURL(this);" /><br><br>
                  
                  <button class="btn btn-primary" onclick="stepper1.next()">Siguiente</button>
                  <button class="btn btn-primary" onclick="stepper1.previous()">Anterior</button>
                </div>
                <div id="test-l-4" class="stepcontent">
                    <p class="text-center">Vista Previa</p>
                    <h1 id = "tituloOutput" style = "text-align: center;">Titulo</h1>
                    <div style = "text-align: center;">    <img id="noticiaimg" src="#" alt="Imagen a subir"></div>
                    <br><br>
                    <p id = "contenidoOutput"> </p>
                    <br><br>
                    <button class="btn btn-primary" onclick="alert('Se ha agregado la receta')">Confirmar</button>
                    <button class="btn btn-primary" onclick="stepper1.previous()">Anterior</button>
                  </div>
              </div>
            </div>
          </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../../assets/js/scripts.js"></script>
<script src="../../assets/js/bs-stepper.js"></script>
<script src="../../assets/js/nuevareceta.js"></script>