<div class="main-container">
    <div class="perfil-description-container">
        <h4>Información básica de usuario</h4>
    </div>
    <div class="perfil-items">
        <div class="perfil-item">
            <div class="perfil-datos">
                <p class="perfil-item-title">Nombre Completo:</p>
                <p>{{profile?.full_name}}</p>
            </div>
            <span class="space"></span>
        </div>
        <div class="perfil-item">
            <div class="perfil-datos">
                <p class="perfil-item-title">Nombre de Usuario:</p>
                <p>{{profile?.username}}</p>
            </div>
            <span class="space"></span>
        </div>
        <div class="perfil-item">
            <div class="perfil-datos">
                <p class="perfil-item-title">Correo Electrónico:</p>
                <p>{{profile?.email}}</p>
            </div>
            <span class="space"></span>
        </div>
        <div class="perfil-item">
            <div class="perfil-datos">
                <p class="perfil-item-title">Recetas Publicadas:</p>
                <p>{{recipeNumber}}</p>
            </div>
            <span class="space"></span>
        </div>
    </div>
    <button class="btn-primary margin-top" (click)="logout()">Cerrar sesión</button>
</div>

