.main-container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
  
}

.perfil-description-container{
    display: flex;
    width: 70%;
    flex-direction: column;
    padding-bottom: 35px;
    border-bottom: 3px dotted red;
    margin-top: 5%;
    margin-bottom: 5%;
}

.perfil-items{
    display: flex;
    width: 70%;
    flex-direction: column;
}

.perfil-datos{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.perfil-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px dotted grey;
}

h4{
    color: #4a4a4a;
    font-size: larger;
}

p{
    color: #6d6c6c;
    font-size: medium;
}

.space{
    width: 60%;
}

.perfil-item-title{
    color: #4a4a4a;
    font-style: italic;
}

.password{
    font-size: 30px;
}

@media only screen and (max-width:768px){
    .perfil-description-container{
        width: 90%;
    }

    .perfil-items{
        width: 90%;
    }

    p{
        font-size: 13px;
    }

    .password{
        font-size: 17px;
    }

    .perfil-datos{
        width: 99%;
    }

    .space{
        width: 1%;
    }
}