<div class="main-container">
    <div class="perfil-description-container">
        <h4>Información básica de usuario</h4>
    </div>
    <div class="perfil-items">
        <div class="perfil-item">
            <div class="perfil-datos">
                <p class="perfil-item-title">Nombre Completo:</p>
                <p>Juan Carlos García Lopez</p>
            </div>
            <span class="space"></span>
        </div>
        <div class="perfil-item">
            <div class="perfil-datos">
                <p class="perfil-item-title">Nombre de Usuario:</p>
                <p>jcGarLop</p>
            </div>
            <span class="space"></span>
        </div>
        <div class="perfil-item">
            <div class="perfil-datos">
                <p class="perfil-item-title">Contraseña:</p>
                <p class="password">..............</p>
            </div>
            <span class="space"></span>
        </div>
        <div class="perfil-item">
            <div class="perfil-datos">
                <p class="perfil-item-title">Correo Electrónico:</p>
                <p>jcGarLop@gmail.com</p>
            </div>
            <span class="space"></span>
        </div>
        <div class="perfil-item">
            <div class="perfil-datos">
                <p class="perfil-item-title">Recetas Publicadas:</p>
                <p>12</p>
            </div>
            <span class="space"></span>
        </div>
    </div>
</div>

