<!-- Main Content -->
  <!--image-->
  <br>
  <div class="main-container">
    <div class="recipe-description-container" data-intro="Detalles de la receta" data-position="auto">
        <div id="recetaImg" class="image-container">
          <!--Imágen(img)-->
        </div>
      
      <div class ="recipe-description">
          <div class="recipe-description-content-right">
            <div id="recetaTitle" class="description-title">
                <!--titulo(h4)-->
            </div>
            <div id="recetaDesc" class="description-content">
              <!--Descripción(p)-->
            </div>
            <div class="recipe-specs">
              <div class="content">
                <div class="icon-container">
                  <i class="far fa-clock fa-3x"></i>
                </div>
                <div id="tiempoActivo" class="content-details">
                  <span class="title">Tiempo activo</span>
                  <!--Tiempo(span)-->
                </div>
              </div>
              <div class="content">
                <div class="icon-container">
                  <i class="far fa-clock fa-3x"></i>
                </div>
                <div id="tiempoPreparacion" class="content-details">
                  <span class="title">Tiempo de Preparacion</span>
                  <!--Tiempo(span)-->
                </div>
              </div>
              <div class="content">
                <div class="icon-container">
                  <img src="../../assets/img/Raster.png" alt="Raster">
                </div>
                <div id="porciones" class="content-details">
                  <span class="title">Porciones totales</span>
                  <!--Porciones(span)-->
                </div>
              </div>
            </div>
            <div id="autor" class="recipe-author">
              <!--autor(span) Creado por...-->
            </div>
          </div>
        <br>
      </div>
    </div>
  </div>
  <br>

  <div class="recipe-steps" >
    <div class="steps-container-center" data-step="2" data-intro="Incluso los pasos e ingredientes" data-position="auto">
      <div class="pasos-a-seguir col-lg-6 col-md-12">
        <div class="pasos-a-seguir-title">
          <span class="steps-title">Pasos a seguir</span>
        </div>
        <ul class="steps">
          <li *ngFor="let step of steps">
            <div class="number">
              {{step.setp_number}}.
              <div class="line"></div>
            </div>
            <p class="step-description">
              {{step.step_description}}
            </p>
          </li>
          
        </ul>
      </div>
      <div class="ingredientes col-lg-4 col-md-8">
        <div class="ingredientes-title">
          <span class="steps-title">Ingredientes</span>
        </div>
        <ul class="ingredients-list">
          <li *ngFor="let ingrediente of ingredientes"><span> {{ingrediente.measurement}} de {{ingrediente.name}}</span></li>
        </ul>
        <div class="etiquetas">
          <span class="etiquetas-title steps-title">Etiquetas</span>
          <div class="lista-etiquetas">
            <span *ngFor="let tag of tags">{{tag.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--recipe section-->

  <div class="container" data-step="3" data-intro="En esta sección podras leer y escribir comentarios sobre las recetas" data-position="auto">
    <div class="row">
      <div class="col-12">
        <div class="comments">
          <div class="comments-details">
            <span class="total-comments comments-sort">117 Comentarios</span>
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Ordenar por <span class="caret"></span></button>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">Mejores comentarios</a>
                <a href="#" class="dropdown-item">Nuevos comentarios</a>
                </div>
              </div>     
          </div>
          <div class="comment-box add-comment" >
            <span class="commenter-pic">
              <i class="far fa-user-circle"></i>
            </span>
            <span class="commenter-name">
              <input type="text" placeholder="Add a public comment" name="Add Comment">
              <button type="submit" class="btn btn-default">Comentar</button>
              <button type="reset" class="btn btn-default">Cancelar</button>
            </span>
          </div>
          <div class="comment-box" *ngFor="let comment of comments">
            <span class="commenter-pic">
              <i class="far fa-user-circle"></i>
            </span>
            <span class="commenter-name">
              <a href="#">{{comment.author.username}}</a> <span class="comment-time">{{comment.creation_date}}</span>
            </span>       
            <p class="comment-txt more">{{comment.text}}</p>
            <div class="comment-meta">
              <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
              <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button> 
              <button class="comment-reply reply-popup"><i class="fa fa-reply-all" aria-hidden="true"></i> Responder</button>         
            </div>
            <div class="comment-box add-comment reply-box">
              <span class="commenter-pic">
                <i class="far fa-user-circle"></i>
              </span>
              <span class="commenter-name">
                <input type="text" placeholder="Add a public reply" name="Add Comment">
                <button type="submit" class="btn btn-default">Responder</button>
                <button type="reset" class="btn btn-default reply-popup">Cancel</button>
              </span>
            </div>
          </div>
          <!--<div class="comment-box">
            <span class="commenter-pic">
              <i class="far fa-user-circle"></i>
            </span>
            <span class="commenter-name">
              <a href="#">Happy markuptag</a> <span class="comment-time">Hace 2 horas</span>
            </span>       
            <p class="comment-txt more">Suspendisse massa enim, condimentum sit amet maximus quis, pulvinar sit amet ante. Fusce eleifend dui mi, blandit vehicula orci iaculis ac.</p>
            <div class="comment-meta">
              <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
              <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button> 
              <button class="comment-reply"><i class="fa fa-reply-all" aria-hidden="true"></i> Responder</button>         
            </div>
            <div class="comment-box replied">
              <span class="commenter-pic">
                <i class="far fa-user-circle"></i>
              </span>
              <span class="commenter-name">
                <a href="#">Happy markuptag</a> <span class="comment-time">Hace 2 horas</span>
              </span>       
              <p class="comment-txt more">Suspendisse massa enim, condimentum sit amet maximus quis, pulvinar sit amet ante. Fusce eleifend dui mi, blandit vehicula orci iaculis ac.</p>
              <div class="comment-meta">
                <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
                <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button> 
                <button class="comment-reply"><i class="fa fa-reply-all" aria-hidden="true"></i> Responder</button>         
              </div>
              <div class="comment-box replied">
                <span class="commenter-pic">
                  <i class="far fa-user-circle"></i>
                </span>
                <span class="commenter-name">
                  <a href="#">Happy markuptag</a> <span class="comment-time">Hace 2 horas</span>
                </span>       
                <p class="comment-txt more">Suspendisse massa enim, condimentum sit amet maximus quis, pulvinar sit amet ante. Fusce eleifend dui mi, blandit vehicula orci iaculis ac.</p>
                <div class="comment-meta">
                  <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
                  <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button> 
                  <button class="comment-reply"><i class="fa fa-reply-all" aria-hidden="true"></i> Responder</button>         
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
