<!-- Main Content -->
  <!--image-->
  <br>
  <div class="main-container">
    <div class="recipe-description-container" data-intro="Detalles de la receta" data-position="auto">
        <div class="image-container">
          <img src = "../../assets/img/pancake.jpeg" alt="pancake de arándanos">
        </div>
      
      <div class ="recipe-description">
          <div class="recipe-description-content-right">
            <div class="description-title">
                <h2>Pancakes con blueberries bañados en miel</h2>
            </div>
            <div class="description-content">
              <p>Pancakes a base de harina de trigo, con una suave textura y una cobertura de blueberries y miel</p>
            </div>
            <div class="recipe-specs">
              <div class="content">
                <div class="icon-container">
                  <i class="far fa-clock fa-3x"></i>
                </div>
                <div class="content-details">
                  <span class="title">Tiempo activo</span>
                  <span>10 minutos</span>
                </div>
              </div>
              <div class="content">
                <div class="icon-container">
                  <i class="far fa-clock fa-3x"></i>
                </div>
                <div class="content-details">
                  <span class="title">Tiempo de Preparacion</span>
                  <span>15 minutos</span>
                </div>
              </div>
              <div class="content">
                <div class="icon-container">
                  <img src="../../assets/img/Raster.png" alt="Raster">
                </div>
                <div class="content-details">
                  <span class="title">Porciones totales</span>
                  <span>4 personas</span>
                </div>
              </div>
            </div>
            <div class="recipe-author">
              <span>Creado por Luis Fernandez</span>
            </div>
          </div>
        <br>
      </div>
    </div>
  </div>
  <br>

  <div class="recipe-steps" >
    <div class="steps-container-center" data-step="2" data-intro="Incluso los pasos e ingredientes" data-position="auto">
      <div class="pasos-a-seguir col-lg-6 col-md-12">
        <div class="pasos-a-seguir-title">
          <span class="steps-title">Pasos a seguir</span>
        </div>
        <ul class="steps">
          <li>
            <div class="number">
              1.
              <div class="line"></div>
            </div>
            <p class="step-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat maximus nisi id feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
          </li>
          <li>
            <div class="number">
              2.
              <div class="line"></div>
            </div>
            <p class="step-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat maximus nisi id feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
          </li>
          <li>
            <div class="number">
              3.
              <div class="line"></div>
            </div>
            <p class="step-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat maximus nisi id feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
          </li>
          <li>
            <div class="number">
              4.
              <div class="line"></div>
            </div>
            <p class="step-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat maximus nisi id feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
          </li>
          
        </ul>
      </div>
      <div class="ingredientes col-lg-4 col-md-8">
        <div class="ingredientes-title">
          <span class="steps-title">Ingredientes</span>
        </div>
        <ul class="ingredients-list">
          <li><span> 400gr de harina de trigo</span></li>
          <li><span> 4 huevos</span></li>
          <li><span> 50gr de mantequilla</span></li>
          <li><span> 2 tazas de leche</span></li>
          <li><span> 120gr de blueberries</span></li>
          <li><span> Miel al gusto</span></li>
        </ul>
        <div class="etiquetas">
          <span class="etiquetas-title steps-title">Etiquetas</span>
          <div class="lista-etiquetas">
            <span>Desayuno</span>
            <span>Dulce</span>
            <span>Vegetariano</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--recipe section-->

  <div class="container" data-step="3" data-intro="En esta sección podras leer y escribir comentarios sobre las recetas" data-position="auto">
    <div class="row">
      <div class="col-12">
        <div class="comments">
          <div class="comments-details">
            <span class="total-comments comments-sort">117 Comentarios</span>
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Ordenar por <span class="caret"></span></button>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">Mejores comentarios</a>
                <a href="#" class="dropdown-item">Nuevos comentarios</a>
                </div>
              </div>     
          </div>
          <div class="comment-box add-comment" >
            <span class="commenter-pic">
              <i class="far fa-user-circle"></i>
            </span>
            <span class="commenter-name">
              <input type="text" placeholder="Add a public comment" name="Add Comment">
              <button type="submit" class="btn btn-default">Comentar</button>
              <button type="reset" class="btn btn-default">Cancelar</button>
            </span>
          </div>
          <div class="comment-box">
            <span class="commenter-pic">
              <i class="far fa-user-circle"></i>
            </span>
            <span class="commenter-name">
              <a href="#">Happy markuptag</a> <span class="comment-time">Hace 2 horas</span>
            </span>       
            <p class="comment-txt more">Suspendisse massa enim, condimentum sit amet maximus quis, pulvinar sit amet ante. Fusce eleifend dui mi, blandit vehicula orci iaculis ac.</p>
            <div class="comment-meta">
              <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
              <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button> 
              <button class="comment-reply reply-popup"><i class="fa fa-reply-all" aria-hidden="true"></i> Responder</button>         
            </div>
            <div class="comment-box add-comment reply-box">
              <span class="commenter-pic">
                <i class="far fa-user-circle"></i>
              </span>
              <span class="commenter-name">
                <input type="text" placeholder="Add a public reply" name="Add Comment">
                <button type="submit" class="btn btn-default">Responder</button>
                <button type="reset" class="btn btn-default reply-popup">Cancel</button>
              </span>
            </div>
          </div>
          <div class="comment-box">
            <span class="commenter-pic">
              <i class="far fa-user-circle"></i>
            </span>
            <span class="commenter-name">
              <a href="#">Happy markuptag</a> <span class="comment-time">Hace 2 horas</span>
            </span>       
            <p class="comment-txt more">Suspendisse massa enim, condimentum sit amet maximus quis, pulvinar sit amet ante. Fusce eleifend dui mi, blandit vehicula orci iaculis ac.</p>
            <div class="comment-meta">
              <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
              <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button> 
              <button class="comment-reply"><i class="fa fa-reply-all" aria-hidden="true"></i> Responder</button>         
            </div>
            <div class="comment-box replied">
              <span class="commenter-pic">
                <i class="far fa-user-circle"></i>
              </span>
              <span class="commenter-name">
                <a href="#">Happy markuptag</a> <span class="comment-time">Hace 2 horas</span>
              </span>       
              <p class="comment-txt more">Suspendisse massa enim, condimentum sit amet maximus quis, pulvinar sit amet ante. Fusce eleifend dui mi, blandit vehicula orci iaculis ac.</p>
              <div class="comment-meta">
                <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
                <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button> 
                <button class="comment-reply"><i class="fa fa-reply-all" aria-hidden="true"></i> Responder</button>         
              </div>
              <div class="comment-box replied">
                <span class="commenter-pic">
                  <i class="far fa-user-circle"></i>
                </span>
                <span class="commenter-name">
                  <a href="#">Happy markuptag</a> <span class="comment-time">Hace 2 horas</span>
                </span>       
                <p class="comment-txt more">Suspendisse massa enim, condimentum sit amet maximus quis, pulvinar sit amet ante. Fusce eleifend dui mi, blandit vehicula orci iaculis ac.</p>
                <div class="comment-meta">
                  <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
                  <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button> 
                  <button class="comment-reply"><i class="fa fa-reply-all" aria-hidden="true"></i> Responder</button>         
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
