<!-- Page Header -->
  <header class="masthead" style="background-image: url('../../assets/img/food_about_bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Sobre nosotros</h1>
            <span class="subheading">Esto es lo que hacemos.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-11">
        <p>Queremos crear una comunidad, donde las personas puedan compartir sus recetas favoritas en un lugar público y detallar con varios pasos la manera en que se pueden cocinar dichas recetas.</p>
        <p>Buscamos que haya interacción entre los distintos usuarios, que las personas compartan sus experiencias al probar las distintas recetas que se pueden encontrar en el sitio.</p>
        <div id="equipo" class="col-lg-12 col-md-12">
          <h2>Conoce a nuestro equipo</h2>
          <div class="imagegrid-container-full col-lg-12 col-md-12">
            <div class="teamCont">
              <div class="teamtxt">
                <h3>David Alfredo Santistevan Amat</h3>
                <h6>dsantist@espol.edu.ec</h6>
              </div>
              <img src="../../assets/img/profileDavid.jpg" alt="profileDavid">
            </div>
            <div class="teamCont">
              <div class="teamtxt">
                <h3>Cristhian Andres Lopez Fuertes</h3>
                <h6>crianlop@espol.edu.ec</h6>
              </div>
              <img src="../../assets/img/recipeimg/Peanut_butter_coconout_cookies.jpg" alt="profileCris">
            </div>
            <div class="teamCont">
              <div class="teamtxt">
                <h3>Carlos Humberto Jimenez Farfan</h3>
                <h6>cajifarf@espol.edu.ec</h6>
              </div>
              <img src="../../assets/img/profileCarlos.jpg" alt="profileCarlos">
            </div>
            <div class="teamCont">
              <div class="teamtxt">
                <h3>Xavier Eduardo Carlier Auz</h3>
                <h6>xecarlie@espol.edu.ec</h6>
              </div>
              <img src="../../assets/img/profileXavier.jpg" alt="profileXavier">
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <hr>


